<div class="container">
  <div class="lists-container">

    <div class="cards-container">
      <% @user.lists.each do |list| %>
        <% list.players.each do |player| %>
          <div class="character-card">
            <img src="https://i.pravatar.cc/100" alt="character's face" class='character-avatar'>
            <div class="character-card-content">
              <h3><%= player.name.upcase %></h3>
              <div class="character-card-info">
                <p>Chaos - <%= player.server.capitalize %> (EU)</p>
                <div class="website-btn">
                  <%= link_to 'https://fr.fflogs.com/', target: '_blank' do %>
                    <i class="far fa-chart-bar" id='fflogs-btn'></i>
                  <% end %>
                  <%= link_to 'https://fr.finalfantasyxiv.com/lodestone/', target: '_blank' do %>
                    <i class="fas fa-address-card" id='lodestone-btn' ></i>
                  <% end %>
                </div>
              </div>
              <div class="character-card-actions">
                <%= link_to 'Edit', edit_player_path(player), class: 'action-btn' %>
                <%= link_to 'Delete', player, method: :delete, data: {confirm: 'are u sure?'}, remote: true, class: 'action-btn' %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

    <!-- <div class="lists-selection">
      <% @user.lists.each do |list| %>
        <h2 class="selected-list"><%= link_to "#{list.name} (#{list.players.count})", list_path(list) %></h2>
      <% end %>
    </div> -->

    <!-- <div class="lists-buttons">
      <%= button_to "||| Filters" %>
      <%= button_to "+ Add Character" %>
    </div> -->